# Assignment on Store_sales dataset

**Load the Dataset**

In [2]:
import pandas as pd
df=pd.read_csv("store_sales.csv")
df.head(5)

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

**Find the average sales for each month across all stores**

**Identify the store with the highest total sales.**

**Calculate the total sales for each city.**

**List stores with total sales greater than 200**

**Which month had the highest average sales across all stores?**

**Which city generated the most revenue?**

ValueError: No axis named city for object type DataFrame