## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [2]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [3]:
auto=pd.read_csv("Automobile.csv")

**Check the head of the DataFrame.**

In [4]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [9]:
rows,cols=auto.shape

In [11]:
print(f"the rows are {rows} and cols are {cols}")

the rows are 201 and cols are 26

**What is the average Price of all cars in the dataset?**

In [13]:
mean=auto['price'].mean()
print(f"the average price is {mean:.2f}")

the average price is 13207.13

**Which is the cheapest make and costliest make of car in the lot?**

In [17]:
cheapest=auto['price'].min()
cheapest_make=auto.loc[auto['price']==cheapest,'make'].iloc[0]
print(f"The cheapest make is {cheapest_make} with a price of {cheapest}")

The cheapest make is subaru with a price of 5118

In [21]:
costly=auto['price'].max()
costliest_make=auto.loc[auto['price']==costly,'make'].iloc[0]
print(f"The costliest make is {costliest_make} with a price of {costly}")

The costliest make is mercedes-benz with a price of 45400

**How many cars have horsepower greater than 100?**

In [23]:
greater=auto[(auto['horsepower']>100)]
print("horse power greater than 100 are",len(greater))
print(greater)

horse power greater than 100 are 90
     symboling  normalized_losses         make fuel_type aspiration  \
0            3                168  alfa-romero       gas        std
1            3                168  alfa-romero       gas        std
2            1                168  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1                 95        volvo       gas        std
197         -1                 95        volvo       gas      turbo
198         -1                 95        volvo       gas        std
199         -1                 95        volvo    diesel      turbo
200         -1                 95        volvo       gas      turbo

    number_of_doors   body_style drive_wheels engine_location  wheel_base  \
0               two  convertible          rwd           front        88.6
1               two  convertible          rwd           front        88.6
2               two    hatchback          rwd           front        94.5
3              four        sedan          fwd           front        99.8
4              four        sedan          4wd           front        99.4
..              ...          ...          ...             ...         ...
196            four        sedan          rwd           front       109.1
197            four        sedan          rwd           front       109.1
198            four        sedan          rwd           front       109.1
199            four        sedan          rwd           front       109.1
200            four        sedan          rwd           front       109.1

     ...  engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0    ...          130         mpfi  3.47    2.68               9.0        111
1    ...          130         mpfi  3.47    2.68               9.0        111
2    ...          152         mpfi  2.68    3.47               9.0        154
3    ...          109         mpfi  3.19    3.40              10.0        102
4    ...          136         mpfi  3.19    3.40               8.0        115
..   ...          ...          ...   ...     ...               ...        ...
196  ...          141         mpfi  3.78    3.15               9.5        114
197  ...          141         mpfi  3.78    3.15               8.7        160
198  ...          173         mpfi  3.58    2.87               8.8        134
199  ...          145          idi  3.01    3.40              23.0        106
200  ...          141         mpfi  3.78    3.15               9.5        114

     peak_rpm city_mpg  highway_mpg  price
0        5000       21           27  13495
1        5000       21           27  16500
2        5000       19           26  16500
3        5500       24           30  13950
4        5500       18           22  17450
..        ...      ...          ...    ...
196      5400       23           28  16845
197      5300       19           25  19045
198      5500       18           23  21485
199      4800       26           27  22470
200      5400       19           25  22625

[90 rows x 26 columns]

**How many hatchback cars are in the dataset ?**

In [25]:
count=auto[auto['body_style']=='hatchback']
print(len(count))

68

**What are the 3 most commonly found cars in the dataset?**

In [35]:
common=auto['make'].value_counts()

In [37]:
common.head(3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [39]:
auto.loc[auto['price']==7099,'make'].iloc[0]

'nissan'

**Which cars are priced greater than 40000?**

In [41]:
auto[auto['price']>40000].reset_index()

,index,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,15,0,149,bmw,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
1,70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
2,71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [43]:
cars=auto[(auto['body_style']=='sedan')&(auto['price']<7000)].reset_index()
print(cars)

   index  symboling  normalized_losses        make fuel_type aspiration  \
0     19          0                 81   chevrolet       gas        std
1     24          1                148       dodge       gas        std
2     42          0                110       isuzu       gas        std
3     50          1                113       mazda       gas        std
4     82          1                125  mitsubishi       gas        std
5     86          1                128      nissan       gas        std
6     88          1                128      nissan       gas        std
7     89          1                122      nissan       gas        std
8    118          1                154    plymouth       gas        std
9    152          0                 91      toyota       gas        std

  number_of_doors body_style drive_wheels engine_location  ...  engine_size  \
0            four      sedan          fwd           front  ...           90
1            four      sedan          fwd           front  ...           90
2            four      sedan          rwd           front  ...          111
3            four      sedan          fwd           front  ...           91
4            four      sedan          fwd           front  ...          122
5             two      sedan          fwd           front  ...           97
6             two      sedan          fwd           front  ...           97
7            four      sedan          fwd           front  ...           97
8            four      sedan          fwd           front  ...           90
9            four      sedan          fwd           front  ...           98

   fuel_system  bore  stroke  compression_ratio horsepower peak_rpm  city_mpg  \
0         2bbl  3.03    3.11                9.6         70     5400        38
1         2bbl  2.97    3.23                9.4         68     5500        31
2         2bbl  3.31    3.23                8.5         78     4800        24
3         2bbl  3.03    3.15                9.0         68     5000        31
4         2bbl  3.35    3.46                8.5         88     5000        25
5         2bbl  3.15    3.29                9.4         69     5200        31
6         2bbl  3.15    3.29                9.4         69     5200        31
7         2bbl  3.15    3.29                9.4         69     5200        31
8         2bbl  2.97    3.23                9.4         68     5500        31
9         2bbl  3.19    3.03                9.0         70     4800        30

  highway_mpg  price
0          43   6575
1          38   6692
2          29   6785
3          38   6695
4          32   6989
5          37   5499
6          37   6649
7          37   6849
8          38   6692
9          37   6938

[10 rows x 27 columns]

 **Count the number of unique values in the `fuel_type` column.**

In [45]:
unique=auto['fuel_type'].unique()
print(unique,"the unique values count",len(unique))

['gas' 'diesel'] the unique values count 2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [47]:
cars=auto[(auto['horsepower']>100)&(auto['horsepower']<200)]
print(cars[['make','horsepower','price']])

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [49]:
avg=auto.groupby('body_style')[['city_mpg','highway_mpg']].mean()
print(avg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [51]:
med=auto.groupby('make')['price'].median()
print(med)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [53]:
cars=auto[(auto['wheel_base']>100)&(auto['curb_weight']<2500)].reset_index()
print(cars)

   index  symboling  normalized_losses    make fuel_type aspiration  \
0      9          2                192     bmw       gas        std
1     10          0                192     bmw       gas        std
2    169         -1                 65  toyota       gas        std
3    170         -1                 65  toyota    diesel      turbo
4    171         -1                 65  toyota       gas        std
5    172         -1                 65  toyota       gas        std
6    173         -1                 65  toyota       gas        std

  number_of_doors body_style drive_wheels engine_location  ...  engine_size  \
0             two      sedan          rwd           front  ...          108
1            four      sedan          rwd           front  ...          108
2            four      sedan          fwd           front  ...          122
3            four      sedan          fwd           front  ...          110
4            four  hatchback          fwd           front  ...          122
5            four      sedan          fwd           front  ...          122
6            four  hatchback          fwd           front  ...          122

   fuel_system  bore  stroke  compression_ratio horsepower peak_rpm  city_mpg  \
0         mpfi  3.50    2.80                8.8        101     5800        23
1         mpfi  3.50    2.80                8.8        101     5800        23
2         mpfi  3.31    3.54                8.7         92     4200        29
3          idi  3.27    3.35               22.5         73     4500        30
4         mpfi  3.31    3.54                8.7         92     4200        27
5         mpfi  3.31    3.54                8.7         92     4200        27
6         mpfi  3.31    3.54                8.7         92     4200        27

  highway_mpg  price
0          29  16430
1          29  16925
2          34   8948
3          33  10698
4          32   9988
5          32  10898
6          32  11248

[7 rows x 27 columns]

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [59]:
auto['price_per_hp']=auto['price']/auto['horsepower']
auto

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,price_per_hp
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,121.576577
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,148.648649
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,107.142857
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,136.764706
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,151.739130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,147.763158
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,119.031250
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,160.335821
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,211.981132
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,198.464912

**Count how many cars have a `number_of_doors` as `four`.**

In [63]:
doors=auto[auto['number_of_doors']=='four']
len(doors)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [69]:
top_5_cars=auto.sort_values(by=['highway_mpg','price'],ascending=[False, False])
top_5_cars=top_5_cars.head(5).reset_index()
print(top_5_cars[['make','highway_mpg','price']])

        make  highway_mpg  price
0      honda           54   6479
1  chevrolet           53   5151
2     nissan           50   7099
3     toyota           47   7788
4     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [75]:
auto['normalized_losses'].isnull().sum()

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [81]:
auto['car_age']=2025-auto['year_of_manufacture']
auto

KeyError: 'year_of_manufacture'

### The END